.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
.ipynb_checkpoints/
.vscode/settings.json
/.venv/
Untitled.ipynb
docs/examples/bright_spots_data/brownian_particles_images_with_noise.npz
docs/examples/bright_spots_data/brownian_particles_images.npy
docs/examples/bright_spots_data/brownian_particles.gif
docs/examples/bright_spots_data/brownian_particles.npy
docs/examples/cell_segmentation_data/data.npz
