.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
.vscode/settings.json
Untitled.ipynb
examples/bright_spots/data/brownian_particles.gif
examples/bright_spots/data/brownian_particles.npy
examples/bright_spots/data/brownian_particles_images.npy
