[tool.poetry]
name = "laptrack"
version = "0.8.0"
description = "LapTrack"
authors = ["Yohsuke Fukai <ysk@yfukai.net>"]
license = "BSD-3-Clause"
readme = "README.rst"
homepage = "https://github.com/yfukai/laptrack"
repository = "https://github.com/yfukai/laptrack"
documentation = "https://laptrack.readthedocs.io"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "License :: OSI Approved :: BSD License",
]

[tool.poetry.urls]
Changelog = "https://github.com/yfukai/laptrack/releases"

[tool.poetry.dependencies]
python = "^3.7.11,<3.11"
click = "^8.0.1"
numpy = "^1.21.0"
scipy = "^1.7.0"
networkx = "^2.6.1"
pandas = "^1.3.1"
typing-extensions = "^4.1.0"
pydantic = "^1.10.2"

[tool.poetry.group.dev.dependencies]
pytest = "^6.2.4"
pytest-datadir = "^1.3.1"
coverage = {extras = ["toml"], version = "^6.2"}
safety = ">=2.3.1"
mypy = "^0.982"
typeguard = "^2.13.3"
xdoctest = {extras = ["colors"], version = "^1.1.0"}
sphinx = "^5.3.0"
sphinx-autobuild = "^2021.3.14"
sphinx-rtd-theme = "^1.1.0"
sphinx-click = "^4.3.0"
pygments = "^2.13.0"
jupyter = "^1.0.0"
xmltodict = "^0.13.0"
sphinxcontrib-napoleon = "^0.7"
autodoc-pydantic = "^1.8.0"
pre-commit = "^2.20.0"
nox = "^2022.8.7"
nox-poetry = "^1.0.1"
toml = "^0.10.2"
sphinx-gallery = "^0.10"
nbsphinx = "^0.8.9"

[tool.poetry.scripts]
laptrack = "laptrack.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["laptrack"]

[tool.coverage.report]
show_missing = true
fail_under = 90

[tool.mypy]
strict = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
